* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* for stoping page scrolling */
.stop-scroll {
  height: 100%;

  overflow: hidden;
}

/* @media (max-width: 800px) {

  html,
  body {
    overflow-x: hidden;
  }
} */

body {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* for successfull  notifier */

.notif-visible {
  animation: left-movein 0.5s ease forwards, left-moveout 0.5s 5s ease forwards;
}

/* moveout 0.5s 5s ease forwards */

#notif {
  width: 310px;
  height: 60px;
  background: #393939;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: -320px;
  top: 80px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 99999;
}

#notif img {
  width: 2.5rem;
}

/*#notif {
  left: 10px;
  opacity: 0;
}*/

/* animation for notif-left */
@keyframes left-movein {
  from {
    left: -320px;
  }

  to {
    left: 20px;
  }
}

@keyframes left-moveout {
  from {
    left: 20px;
  }

  to {
    left: -320px;
  }
}